@using Blazority;

@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div>
    <div style="background-color:#ffd100;position:fixed;z-index:100;width:100%;height:50px">
        <span class="title">Rusta</span>
        <Button style="float:right" Variant="primary" OnClick="() => Navigate(DBNav)">Databas</Button>
    </div>

    <div class="content-container">
        <div class="content-area">
            @Body
        </div>
    </div>
</div>

@code
{

    string DBNav = "/DB";

    public void Navigate(string URL)
    {
        NavigationManager.NavigateTo(URL);
    }
}