@using Blazority;
@using RustaConsumerList.Pages;

@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div>
    <div style="background-color:#FFDE00;position:fixed;z-index:98;width:100%;height:50px">
        <img style="height:100%;float:left;" src="/images/Rusta.png" alt="Rusta Logo" asp-append-version="true"/>
        <div style="height:70%;float:left;padding-left:24px;padding-top:12px;">
            <img style="height:100%" src="/images/home-button.svg" alt="Home" asp-append-version="true"/>
        </div>
        <Button style="float:right" Variant="primary" OnClick="() => Navigate(DBNav)">Databas</Button>
    </div>

    <div class="content-container">
        <div class="content-area">
            @Body
        </div>
    </div>
</div>

@code
{

    string DBNav = "/DB";

    public void Navigate(string URL)
    {
        NavigationManager.NavigateTo(URL);
    }
}